@import url("https://fonts.googleapis.com/css2?family=Bungee+Inline");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script");
@import url("https://fonts.googleapis.com/css2?family=Changa+One");
@import url("https://fonts.googleapis.com/css2?family=Roboto");

body {
    background-color: black;
}
.top-bar {
    /*position: fixed;
    left: 0;
    right: 0;
    top: 0;*/
    background-color: yellow;
    line-height: 4.5;
    padding: 5px 20%;
    font-family: 'Dancing Script';
}
.content {
    margin: /*7*/0px 17% 0 17%;
    padding: 20px 50px;
    font-family: 'Varela Round';
}
.page {
    padding: 20px;
    background-color: yellow;
    color: black;
    text-decoration: none;
    line-height: 1;
    font-size: 20px;
    text-align: top;
    border-radius: 10px;
    margin: 0 5px;
}
.current {
    background-color: gold;
    font-weight: bold;
}
.page:hover {
    background-color: goldenrod;
}
.beeter {
    background-color: yellow;
    border-radius: 5px;
    width: 100%;
}
h1 {
    background-color: darkslategrey;
    padding: 5px 15px;
    border-radius: 5px;
    border: 3px solid lightslategrey;
    font-family: "Bungee Inline";
    color: white;
}
.footer {
    padding: 0 20% 0 19%;
    background-color: yellow;
    font-family: 'Roboto';
}
.bee {
    width: 100%;
    border-radius: 20px;
    max-width: 1600px;
}
h2 {
    font-family: 'Changa One';
    color: grey;
}
.comb {
    width: 15%;
    max-width: 259px;
    min-width: 80px;
    border-radius: 10px;
    vertical-align: middle;
    margin: 1% 2% 1% 2%;
}
.side {
    display: inline-block;
    width: 80%;
    vertical-align: middle;
}
.content {
    color: white;
}
.ankle {
    display: inline-block;
    width: 12%;
}
.heel, .ball{
    display: inline-block;
    width: 60%;
    vertical-align: top;
    line-height: 1.25;
}
.ball {
    margin-left: 5%;
    width: 0;
}
.toe {
    color: black;
}
.toe:hover {
    text-decoration: none;
}