@import url("https://fonts.googleapis.com/css2?family=Bungee+Inline");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script");
@import url("https://fonts.googleapis.com/css2?family=Changa+One");
@import url("https://fonts.googleapis.com/css2?family=Roboto");

:root {
    --primary-bg: black;
    --secondary-bg: darkslategrey;
    --tertiary-bg: lightslategrey;
    --main-text: white;
    --subheading-text: grey;
    --primary-accent: yellow;
    --secondary-accent: gold;
    --tertiary-accent: goldenrod;
}
body {
    background-color: var(--primary-bg, black);
}
.top-bar {
    /*position: fixed;
    left: 0;
    right: 0;
    top: 0;*/
    background-color: var(--primary-accent, yellow);
    line-height: 4.5;
    padding: 5px 20%;
    font-family: 'Dancing Script';
}
.content {
    margin: /*7*/0px 17% 0 17%;
    padding: 20px 50px;
    font-family: 'Varela Round';
}
.container {
    display: inline-block;
    width: 60px;
    vertical-align: middle;
    border-radius: 10px;
}
.container:hover {
    vertical-align: top;
}
.logo {
    width: 100%;
}
.name {
    color: black;
    text-decoration: none;
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
    margin-right: 10px;
    font-weight: bold;
    font-size: 17px;
}
.name:hover {
    font-style: italic;
}
.page {
    padding: 20px;
    background-color: var(--primary-accent, yellow);
    color: var(--priamry-bg, black);
    text-decoration: none;
    line-height: 1;
    font-size: 20px;
    border-radius: 10px;
    margin: 0 5px;
}
.current {
    background-color: var(--secondary-accent, gold);
    font-weight: bold;
}
.page:hover {
    background-color: var(--tertiary-accent, goldenrod);
}
.beeter {
    background-color: yellow;
    border-radius: 5px;
    width: 100%;
}
h2 {
    background-color: var(--secondary-bg, darkslategrey);
    padding: 5px 15px;
    border-radius: 5px;
    border: 3px solid var(--tertiary-bg, lightslategrey);
    font-family: "Bungee Inline";
    color: var(--main-text, white);
}
.footer {
    padding: 0 20% 0 19%;
    background-color: var(--primary-accent, yellow);
    font-family: 'Roboto';
}
.bee {
    width: 100%;
    border-radius: 20px;
    max-width: 1600px;
}
h3 {
    font-family: 'Changa One';
    color: var(--subheading-text, grey);
}
.comb {
    width: 15%;
    max-width: 259px;
    min-width: 80px;
    border-radius: 10px;
    vertical-align: middle;
    margin: 1% 2% 1% 2%;
}
.side {
    display: inline-block;
    width: 80%;
    vertical-align: middle;
}
.content {
    color: var(--main-text, white);
}
.ankle {
    display: inline-block;
    width: 12%;
}
.heel, .ball{
    display: inline-block;
    width: 60%;
    vertical-align: top;
    line-height: 1.25;
}
.ball {
    margin-left: 5%;
    width: 0;
}
.toe {
    color: var(--primary-bg, black);
}
.toe:hover {
    text-decoration: none;
}
.tricolumn {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    padding: 1%;
}
