@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice");
@import url("https://fonts.googleapis.com/css2?family=Nabla");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script");
@import url("https://fonts.googleapis.com/css2?family=Changa+One");

body {
    background-color: yellow;
}
.top-bar {
    background-color: black;
    line-height: 1;
    padding: 30px;
    margin: 0;
    font-family: 'Dancing Script';
}
.content {
    padding: 20px 50px;
}
.page {
    padding: 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    line-height: 1;
    font-size: 20px;
    text-align: top;
    border-radius: 10px;
    margin: 0 5px;
}
.current {
    background-color: darkslategray;
}
.page:hover {
    background-color: lightslategrey;
}
.beeter {
    background-color: yellow;
    border-radius: 5px;
    height: 50px;
}
h1 {
    background-color: gold;
    padding: 5px 15px;
    border-radius: 5px;
    border: 3px solid goldenrod;
    font-family: "Bungee Spice";
}
.footer {
    background-color: black;
    margin: 0;
}
.bee {
    width: 100%;/* sabotage >:DD hee hee*/
    border-radius: 20px;
}
h2 {
    font-family: 'Changa One';
    color: orange;
}
.comb {
    width: 15%;
    border-radius: 10px;
    vertical-align: middle;
    margin: 1% 2% 1% 2%;
}
.side {
    display: inline-block;
    width: 80%;
    vertical-align: middle;
}